{# empty Twig template #}
{% extends "ClientBundle::Layout.html.twig" %}
{% block contenu %}
    <div class="moto-widget moto-widget-menu moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-preset="default" data-widget="menu" data-align="{&quot;desktop&quot;:&quot;center&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;mobile-h&quot;:&quot;&quot;,&quot;mobile-v&quot;:&quot;&quot;}" data-menu-id="1" data-menu-type="horizontal" data-spacing="mama">
        <a href="{{asset('#')}}" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
        <ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
            <li class="moto-widget-menu-item">
                <a href="acceuil"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Acceuil</a>
            </li>
            <li class="moto-widget-menu-item">
                <a href="ActualitesAcceuil"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">Actualités</a>
            </li>
            <li class="moto-widget-menu-item">
                <a href="catalogue"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Catalogues<span class="fa moto-widget-menu-link-arrow"></span></a>
                <ul class="moto-widget-menu-sublist">
                    <li class="moto-widget-menu-item">
                        <a href="{{asset('testimonials/index.html')}}"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link"></a>
                    </li>

                    <li class="moto-widget-menu-item">
                        <a href="#"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-submenu moto-link">Générale


                    </li>
                    <li class="moto-widget-menu-item">
                        <a href="#"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">Par enseigne</a>
                    </li>
                </ul>

            </li>
            <li class="moto-widget-menu-item">
                <a href="gallerie"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Promotions</a>
            </li>
            <li class="moto-widget-menu-item">
                <a href="boutique"   data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Nos Boutiques</a>
            </li>
            <li class="moto-widget-menu-item">

                <a href="contact"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Contacts</a>
            </li> 
             {% if user %}
                                                        <li class="moto-widget-menu-item">
                                                            <a href=""   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">{{user.username}}</a>
                                                            &nbsp &nbsp &nbsp <a href="panier"><img src="{{asset('images/client/shopping-cart-of-checkered-design.png')}}"></a>
                                                        </li> 
                                                        {% else %}
                                                         <li class="moto-widget-menu-item">
                                                            <a href="{{path('fos_user_security_login')}}"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">connexion</a>
                                                            &nbsp &nbsp &nbsp <a href="panier"><img src="{{asset('images/client/shopping-cart-of-checkered-design.png')}}"></a>
                                                        </li> 
                                                        {% endif %}
        </ul>
    </div>
    <div class="row">

    </div>
</div>
<div class="moto-cell col-xs-4" data-container="container">
    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa">
        <div class="moto-widget-text-content moto-widget-text-editable">
            <p style="text-align: right;" class="moto-text_system_3"><br></p>

        </div>
    </div>



</div>

</div>

</div>

</div>

</div>

</div>

</div>   
{% for actualite in Actualites %} 
    <br>
<div class="row">
        <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
        </div>
        <div class="col-sm-8">
          <h3 class="title">{{actualite.Titre}}</h3>
          <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> {{actualite.date| date('Y-m-d : h:m')}}</p>
          <p>{{actualite.Description|wordwrap(100)}}</p>
          
          <p class="text-muted">Presented by <a href="#">Ellen Richey</a></p>
          
        </div>
      </div>
      <hr>
{% endfor %}

</div>
{% endblock %}