{% extends "AdminBundle::Layout.html.twig" %}
{% block TableView %}

    <div class="col-md-6">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Ajouter une produit</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" name="form" method="POST">
                <div class="box-body">

                <div class="form-group">
                        <label for="Titre" class="col-sm-2 control-label" > Titre : </label>
                        <div class="col-sm-10">
                            <input name="titre" id="exampleInputfile" type="text"class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Image" class="col-sm-2 control-label" > Image : </label>
                        <div class="col-sm-10">
                            <input name="imgactu" id="exampleInputfile" type="file"class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Descreption</label>
                        <div class="col-sm-10">
                            <textarea name="description" rows="5" cols="50" class="form-control" id="text1"></textarea>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-default">Annuler</button>
                    <input type="submit" value="Ajouter" class="btn btn-info pull-right"/>
                </div><!-- /.box-footer -->
            </form>
        </div><!-- /.box -->
    </div>

{% endblock %}