{% extends "AdminBundle::Layout.html.twig" %}
{% block HeaderTitle %}
               
            <h1>
           Liste des Actualites
          </h1>
            {%endblock %}

{% block TableView %}
<div class="TableView" >
                <table >
                    <tr>
                        <td>
                            Id
                        </td>
                         <td>
                            Titre
                        </td>
                        <td >
                           Date
                        </td>
                        <td>
                           Image
                        </td>
                        <td>
                            Description
                        </td>
                        <td>
                            Modifier
                        </td>
                        <td>
                            Supprimer
                        </td>
                    {% for actualite in Actualites %}    
                    <tr>
                        <td >
                       {{ actualite.id}}
                        </td>
                        <td>
                            {{ actualite.Titre|wordwrap(100)}}
                        </td>
                        
                        <td>
                            {{actualite.date| date('Y-m-d:h:m')}}
                        </td>
                        <td>
                        <img src="data:image/jpg;base64,base64_decode({{ actualite.Image}})"/>
                        </td>
                        <td>
                           {{actualite.Description}}
                        </td>
                         <td >
                          
                        
                         <a href="{{ path('tunisia_mall_actualite_MAJ', { 'id': actualite.id }) }}"> <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="" ></center></a>
                        </td>
                         <td >
                         <a href="{{ path('tunisia_mall_actualite_Supprimer', { 'id': actualite.id }) }}"><center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value=""  ></center></a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </table>
            </div>
    {% endblock TableView %}
    {% block btn %}
         <br>
        <div>

            <a href='{{('AjouterActualite')}}'> <input type="submit" class="btn" value="Ajouter Actualité"/> </a>



        </div>

    {% endblock %}
{# empty Twig template #}
