{% extends "ClientBundle::Layout.html.twig" %}

{% block PromoB %}

 
    <div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="lala">
        <div class="moto-widget-spacer-block" style="height: 0px;"></div>
    </div>
    <div class="moto-widget moto-widget-row" data-widget="row">
        <div class="container-fluid">
            <div class="row">
                {%for promotion in promotions %}
                <div class="moto-cell col-md-4" data-container="container">
                    <div data-css-name="moto-container_content_56a69c77" class="moto-widget moto-widget-container moto-container_content_56a69c77" data-widget="container" data-container="container">
                        <div data-grid-type="xs" class="moto-widget moto-widget-row row-gutter-0" data-widget="row">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="moto-cell col-xs-9" data-container="container">
                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa">
                                            <div class="moto-widget-text-content moto-widget-text-editable">
                                                <p class="moto-text_289">
                                                    <a class="moto-link" data-action="url" href="Promotion" target="_self">{{promotion.Description}}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="moto-cell col-xs-3" data-container="container">
                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa">
                                            <div class="moto-widget-text-content moto-widget-text-editable">
                                                <p style="text-align: right;" class="moto-text_system_3"><br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                    <div class="moto-widget moto-widget-image moto-preset-3 moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto " data-preset="3" data-spacing="aasa" data-widget="image">
                        <a class="moto-widget-image-link moto-link" href="Promotion"  data-action="page">
                           {# <img src="{{asset(promotion.image)}}" class="moto-widget-image-picture" data-id="157" title=""  alt="" draggable="false">#}
                        </a>                      
                    </div>
                </div>
                         {% endfor %}
             
            </div>
            
                </div>                               
            </div>                                        
        </div>


                           
{% endblock %}
