{# empty Twig template #}
{% extends "AdminBundle::Layout.html.twig" %}

{% block HeaderTitle %}
    <style>
        img {
            width: 50px;
            height: 50px;
        }
    </style>

    <h1>
        Gestion Des Promotions
        <small>Liste Des Promotions</small>
    </h1>
    <center>
        <form  method="POST">
            <input type="text" name="search">
            <input type="submit" value="rechercher">
        </form>
    </center>
{%endblock %}

{% block TableView %}
    <div style="padding: 10px">
        <div class="TableView" >
            <div class="box box-success ">    
                <div  class="box-body no-padding">
                    <table class="table table-bordered table-hover" >
                        
                        <tr>
                          
                            <th >Date de début</th>
                            <th>Date de fin</th>
                            <th>Taux de réduction </th>
                            <th> Image</th>
                            <th> Description</th>
                            <th>Etat </th>
                            <th>Ajouter produit</th>
                            <th> Modifier </th>
                            <th> Supprimer </th>
                        </tr>
                        <tr> {% for promotion in promotions %}
                          
                            <td>{{promotion.DateDebut.format('j/m/Y')}}</td>
                            <td>{{promotion.DateFin.format('j/m/Y')}}</td>
                            <td>{{promotion.Tauxdereduction}}</td>
                            <td> <img src="{{promotion.Image}}"/></td>
                            
                            
                 
                            <td>{{promotion.Description}}</td>
                            <td>{{promotion.Etat}}</td>
                            <td><center><a href="{{path('Liste_Produit',{'id':promotion.id})}}"><span class="fa fa-plus"></span></center> </td>
                            <td><center><a href="{{path('Afficher_Modifier',{'id':promotion.id})}}"><span class="fa  fa-edit"></span></center> </td>
                            <td><center><a href="{{path('Supprimer_promotion',{'id':promotion.id})}}"><span class="fa  fa-close"></span></a></center></td>
                        </tr>

                                {%endfor%}
                                    </table>
                                    </div>  </div>         
                                    {% endblock %} 
                                        {%block btn %}  
                                            <br>   
                                            <div>

                                                <center>  <a href="{{path('promotion_ajouter')}}"><input type="submit" class="btn" value="Ajouter une promotion"/> 

                                                </center>

                                            </div></div></div>
                                        {% endblock %}
