{# empty Twig template #}
{% extends "AdminBundle::Layout.html.twig" %}

{% block HeaderTitle %}
    <style>
        img {
            width: 50px;
            height: 50px;
        }
    </style>

    <h1>
        Gestion Des Promotions
        <small>Liste Des Promotions</small>
    </h1>
    <center>
        <form  method="POST">
            <input type="text" name="search">
            <input type="submit" value="rechercher">
        </form>
    </center>
{%endblock %}

{% block TableView %}
    <div style="padding: 10px">
        <div class="TableView" >
            <div class="box box-success ">    
                <div  class="box-body no-padding">
                    <table class="table table-bordered table-hover" >
                        
                        <tr>
                          
                            <th>Référence</th>
                            <th>Libelle</th>
                            <th>Description</th>
                            <th>Categorie</th>
                            <th>Image</th>
                            <th>Ajouter/Annuler</th>
                         
                        </tr>
                        <tr> {% for produit in produits %}
                          
                            <td>{{produit.Reference}}</td>
                            <td>{{produit.Libelle}}</td>
                            <td>{{produit.Descriptif}}</td>
                            <td>{{produit.Categorie}}</td>
                            <td> <img src="{{produit.Image}}"/></td>

                            <td><center><a href="{{path('Accepter_Produit',{'id':produit.id,'idPromotion':idPromotion})}}"><input class="modifIcon" type="image"  src="{{asset('images/Responsable/accepter.png')}} " value="" href="#" ></center> </td>
                 
                        </tr>

                                {%endfor%}
                                    </table>
                                    </div>  </div>         
                                    {% endblock %} 
                                        {%block btn %}  
                                            <br>   
                                            <div>

                                                <center>  <a href="{{path('promotion_ajouter')}}"><input type="submit" class="btn" value="Ajouter une promotion"/> 

                                                </center>

                                            </div></div></div>
                                        {% endblock %}
{# empty Twig template #}
