{% extends "AdminBundle::Layout.html.twig" %}
{% block HeaderTitle %}
   <div class ="container">
           <div class="col-md-6">
              <!-- Horizontal Form -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Modifier une promotion</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                
                <form class="form-horizontal" name="form" onsubmit="verif()" method ="POST">
                  <div class="box-body">
                      {% for promotion in promotions %}
                    <div class="form-group">
                      <label for="date1" class="col-sm-2 control-label" >Date début </label>
                      <div class="col-sm-10">
                        <input name="date1" type="date" class="form-control" id="date1" value="{{promotion.dateDebut.format('j/m/Y')}}">
                      </div>
                    </div>
                      
                    <div class="form-group">
                      <label for="date2" class="col-sm-2 control-label">Date fin </label>
                      <div class="col-sm-10">
                        <input name="date2" type="date" class="form-control" id="date2"   value="{{promotion.dateFin.format('j/m/Y')}}">
                      </div>
                    </div>
                      
                    <div class="form-group">
                      <label for="taux" class="col-sm-2 control-label">Taux de réduction</label>
                      <div class="col-sm-10">
                        <input name="taux" type="number" class="form-control" id="inputPassword3" value="{{promotion.Tauxdereduction}}">
                      </div>
                    </div>
                      
                   <div class="form-group">
                      <label for="image" class="col-sm-2 control-label">Image</label>
                      <div class="col-sm-10">
                        <input name ="img" type="file" class="form-control" id="image" value="{{promotion.Image}}">
                      </div>
                    </div>
                      
                      
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                      <div class="col-sm-10">
                        <textarea rows="5" cols="50" class="form-control" id="text1" name="des" >{{promotion.Description}}</textarea>
                      </div>
                    </div>  
                      
                      
                   <div class="form-group"> 
                     <label for="etat" class="col-sm-2 control-label">Etat</label>
                       <div class="col-sm-10">
                           <select name="etat" onChange="" value="{{promotion.Etat}}">
                                       

                           <option>Active</option>
                            <option>non active</option>
                          
                         
                           </select> 
                       </div>  
                   </div>
    
                           {% endfor %}
                      
                      
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <button type="reset" class="btn btn-default" name ="submit">Annuler</button>
                    <button type="submit" class="btn btn-info pull-right">Modifier</button>
                  </div><!-- /.box-footer -->
                </form>
              </div><!-- /.box -->
           </div>
   </div>
    {% endblock %}
{# empty Twig template #}
