{% extends "ClientBundle::Layout.html.twig" %}

{% block PromoA %}

    <header id="section-header" class="header moto-section" data-widget="section" data-container="section">
        <div class="moto-widget moto-widget-container" data-widget="container" data-container="container" data-css-name="moto-container_header_56ab411036030">
            <img src="{{asset('images/client/promo.gif')}}"style=" width: 100%; height: 500px;"/></div>

        <header>

        {% endblock %}
        {% block contenu %} 
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>


            <div class="moto-widget moto-widget-menu moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-preset="default" data-widget="menu" data-align="{&quot;desktop&quot;:&quot;center&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;mobile-h&quot;:&quot;&quot;,&quot;mobile-v&quot;:&quot;&quot;}" data-menu-id="1" data-menu-type="horizontal" data-spacing="mama">
                <a href="{{asset('#')}}" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
                <ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
                    <li class="moto-widget-menu-item">
                        <a href="acceuil"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Acceuil</a>
                    </li><li class="moto-widget-menu-item">
                        <a href="catalogue"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Catalogues<span class="fa moto-widget-menu-link-arrow"></span></a>
                        <ul class="moto-widget-menu-sublist">
                            <li class="moto-widget-menu-item">
                                <a href="{{asset('testimonials/index.html')}}"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link"></a>
                            </li>

                            <li class="moto-widget-menu-item">
                                <a href="#"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-submenu moto-link">Générale<!--<span class="fa moto-widget-menu-link-arrow"></span></a>
                                    <!--<ul class="moto-widget-menu-sublist">
                                        <li class="moto-widget-menu-item">
                        <a href="#"   data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">gallery1</a>
                        </li>
                                        <li class="moto-widget-menu-item">
                        <a href="#}"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">About us</a>
                        </li>
                                </ul>-->

                            </li>
                            <li class="moto-widget-menu-item">
                                <a href="#"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">Par enseigne</a>
                            </li>
                        </ul>

                    </li>
                    <li class="moto-widget-menu-item">
                        <a href="gallerie"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Galleries</a>
                    </li>
                    <li class="moto-widget-menu-item">
                        <a href="fashion"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Fashion</a>
                    </li>
                    <li class="moto-widget-menu-item">
                        <a href="boutique"   data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">Nos Boutiques</a>
                    </li><li class="moto-widget-menu-item">

                        <a href="contact"   data-action="page" class="moto-wisdget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Contacts</a>
                    </li>   
                </ul>
            </div>
        </header>




      <section id="section-content" class="content page-5 moto-section" data-widget="section" data-container="section">
            <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
  
                <div class="moto-widget moto-widget-row" data-widget="row">
                    <div class="container-fluid">
                        <div class="row">
                            
               {% for promotion in promotions %}
                           <!---*******************--->      
                            
                            <div class="moto-cell col-sm-6" data-container="container">
                                <div class="moto-widget moto-widget-image moto-preset-5 moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-preset="5" data-spacing="aaaa" data-widget="image">


                                    <a class="moto-widget-image-link moto-link" href="../mt-demo/58300/58352/mt-content/uploads/2016/01/mt-0295-gallery-img2-1.jpg"   data-action="lightbox">
                                        <img  src={{promotion.Image}} class="moto-widget-image-picture" data-id="168" title=""  alt="" draggable="false">
                                    </a>
                                </div>
                                <div data-css-name="moto-container_content_56a8800e" class="moto-widget moto-widget-container moto-container_content_56a8800e" data-widget="container" data-container="container">
                                    <div data-animation="fadeIn" class="moto-widget moto-widget-text moto-preset-default        wow moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto fadeIn" data-widget="text" data-preset="default" data-spacing="lama">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_6">
                                                <a class="moto-link" data-action="url" href="#" target="_self">Du {{promotion.DateDebut.format('j/m/Y')}} au  {{promotion.DateFin.format('j/m/Y')}}</a>
                                                <br>
                                            </p> 
                                        </div>
                                   </div>
                                    
                                    <div data-animation="fadeIn" class="moto-widget moto-widget-text moto-preset-default        wow moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto fadeIn" data-widget="text" data-preset="default" data-spacing="aama">
                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                            <p class="moto-text_normal">{{promotion.Description}}.<br></p>
                                        </div>
                                    </div>
                                    <div class="moto-widget moto-widget-button moto-preset-2 moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto wow fadeIn" data-widget="button" data-preset="2" data-spacing="sama">


                                        <a href="../more/index.html"   data-action="page" class="moto-widget-button-link moto-size-large moto-link"
                                           data-anchor=""
                                           data-size="large">
                                            <span class="fa moto-widget-theme-icon"></span> 
                                            <span class="moto-widget-button-label">more</span></a>
                                    </div>

                                </div>
                            </div>
                                    
                                                  {%endfor%}
                  
                                    
               <!---*******************--->         
                                    
                                    
                                    
                              
                                    
                                    
                            
                                    
                            
                            </div>             
                       </div>             
                    </div>                      
                </div>
           
        </section>   
        <center>  {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}</div></center>
    {% endblock %}