{# empty Twig template #}
{# empty Twig template #}
{# empty Twig template #}
{% extends "AdminBundle::Layout.html.twig" %}
{% block HeaderTitle %}

    <h1>
        Ajouter
        <small>Promotion sur Produit</small>
    </h1>
{%endblock %}

{% block TableView %}

    <div class="col-md-6">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Ajouter</h3>

                <form  method="POST" class="form-horizontal" name="form" onsubmit="verif()">
                    <div> {{ form_start(form) }}
                        {{form_errors(form) }}
                       
                        
                        <div class="form-group">
                            <label for="Produit" class="col-sm-2 control-label">Produit</label>
                            {{ form_errors(form.Produit) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.Produit)  }}
                            </div></div> 
                            <div class="form-group">
                            <label for="Enseigne" class="col-sm-2 control-label">Promotion</label>
                            {{ form_errors(form.Promotion) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.Promotion)  }}
                            </div></div> 




                        <div class="box-footer">
                            {{form_widget(form.Ajouter) }}
                        </div>
                        {{ form_end(form)}}


                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.box -->


{% endblock %}
