{% extends "AdminBundle::Layout.html.twig" %}

 {% block HeaderTitle %}
               
            <h1>
            Nos Promotions
            <small>Liste des produits avec promotion</small>
          </h1>
            {%endblock %}



{% block TableView %}
<div style="padding: 10px">
        <div class="TableView" >
       <div class="box box-success ">    
    <div class="box-body no-padding">
              <table class="table table-bordered table-hover" id="nosprom" >
                  <thead>
                  <tr>     
                        <th>
                            Produit
                        </th>
                        <th>
                            Promotion
                        </th>
                        <th>
                            Modification
                        </th>
                        <th>
                            Suppression
                        </th>
                       
                    </tr>
                  </thead>
                  <tbody>
                        {% for PromotionProduit in PromotionProduit %}
                        <tr>      
                                
                        
                         <td >
                           {{PromotionProduit.Produit.getLibelle()}}
                        </td>
                         <td >
                           {{PromotionProduit.Promotion.getTauxdereduction()}}
                        </td>
                         <td >
                          <center><a href="{{path('tunisia_mall_promprod_Modif',{'id':PromotionProduit.id})}}"><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                         
                        </td>
                         <td >
                         <center><a href="{{path('tunisia_mall_promprod_Supp',{'id':PromotionProduit.id})}}"><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    
                    {% endfor %}
                    </tbody>
                </table>
            </div></div></div></div>
    {% endblock TableView %}    
{% block btn %}
     <br>
                <div>
                    <form align="left" action="{{('Ajouterpromprod')}}">
                        <center><input type="submit" class="btn" value="Ajouter"/></center>
                    </form>
                    
                </div>   
                    
    {% endblock %}
    
    {% block script %}
           <script src="{{asset('js/Responsable/tabledata.js')}}"></script>
           <script src="{{asset('js/Responsable/appli.js')}}"></script>
        {% endblock %}
        