{# empty Twig template #}
{% extends "AdminBundle::Layout.html.twig" %}

 {% block HeaderTitle %}
               
            <h1>
            Gestion Des Enseignes
            </br>
            </h1></br>
     
         <form   method="POST">
        <input type="text" name="search">
        <input type="submit" value="rechercher">
         </form>
    
           <h1>
            <center>   <small>Liste Des Enseignes</small></center>
          </h1>
     
     
            {%endblock %}

{% block TableView %}
    <div style="padding: 10px">
        <div class="TableView" >
       <div class="box box-success ">    
    <div class="box-body no-padding">
              <table class="table table-bordered table-hover" >
                    <tr>
                        
                        <th ><center> Libelle</center> </th>
                        <th ><center> Description </center> </th>
                        <th><center> Image</center> </th>
                        <th><center> Catégorie</center>  </th>
                        <th> <center> Etage</center> </th>
                        <th> <center> Heure d'ouverture</center> </th>
                        <th> <center> Heure de fermeture</center> </th>
                        <th> <center> Jour ouvert</center> </th>
                        <th> <center> Site web</center> </th>
                        
                     <th> <center> Modifier</center>  </th>
                     <th> <center> Supprimer</center>  </th>
                    </tr>
                    <tr> {% for Enseigne in Enseignes %}
                      
                       
                        <td>
                           <center> {{Enseigne.Libelle}}</td></center>
                            <td>
                           <center> {{Enseigne.Description}}</td></center>
                         <td >
{#                            <center> <img src="{{path("image_route", {'id':Enseigne.id })}}"/></center>#}
                         <td>
                          <center> {{Enseigne.Categorie}} <center></td>
                       <td >
                           <center>{{Enseigne.Etage}}<center></td>
                                   <td >
                           <center>{{Enseigne.TimeOuverture}}<center></td>
                      <td >
                           <center>{{Enseigne.TimeFermeture}}<center></td>
                                     <td >
                           <center>{{Enseigne.NBJour}}<center></td>
           
                          <td >
                           <center>{{Enseigne.URL}}<center></td>
                    
           
                         <td >
                         
                          <center><a href="{{path('Enseigne_Modifier',{'id':Enseigne.id})}}"><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" ></center>
                        </td>
                         <td >
                         <center><a href="{{path('Supprimer_Enseigne',{'id':Enseigne.id})}}"><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value=""  ></a></center>
                        </td>
                    </tr>

                    {%endfor%}
                                    </table>
            </div>           
                    </div>
                    </di>
                    </div>
                    </div>
    {% endblock TableView %} 
          
        {%block btn %}  
    <br>   
                <div>
                    
                    <center>  <a href="{{path('enseigne_ajouter')}}"><input type="submit" class="btn" value="Ajouter une nouvelle enseigne"/> 
                   <center>
                
              {#  <div>{{ socialButtons() }}</div>#}
                </div>
    {% endblock %}
