

{# empty Twig template #}
{% extends "AdminBundle::Layout.html.twig" %}

{% block HeaderTitle %}
    <style>
        img {
            width: 50px;
            height: 50px;
        }
    </style>

    <h1>
        Gestion Des packs publicitairess
        <small>Liste des packs publicitaires</small>
    </h1>
    <center>
        <form  method="POST">
            <input type="text" name="search">
            <input type="submit" value="rechercher">
        </form>
    </center>
{%endblock %}

{% block TableView %}
    <div style="padding: 10px">
        <div class="TableView" >
            <div class="box box-success ">    
                <div  class="box-body no-padding">
                    <table class="table table-bordered table-hover" >

                        <tr>
                            <th>Zone</th>
                            <th> Libellé</th>
                            <th>Prix</th>
                            <th>Description</th>
                            <th> Modifier </th>
                            <th> Supprimer </th>
                        </tr>
                        <tr> {% for pack in packs %}
                            <td>{{pack.Zone}}</td>
                            <td>{{pack.Libelle}}</td>
                            <td>{{pack.Prix}}</td>
                            <td>{{pack.Description}}</td>
                            <td >
                        <center><a href="{{path('Modifier_pack',{'id':pack.id})}}"><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                                </td>
                                <td >
                                <center><a href="{{path('Supprimer_pack',{'id':pack.id})}}"><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value=""  ></a></center>
                                </td>
                                </tr>

                                {%endfor%}
                                    </table>
                                    </div>  </div>         
                                    {% endblock %} 
                                        {%block btn %}  
                                            <br>   
                                            <div>
                                                <center>             <a href="{{path('pack_pub_ajouter')}}"><input type="submit" class="btn" value="Ajouter un pack"/> 

                                                    </center>

                                            </div></div></div>
                                        {% endblock %}
