{% extends "AdminBundle::Layout.html.twig" %}
{% block contenu %}
    <div class ="container">
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Modifier le pack publicitaire</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" name="form" onsubmit="verif()" method ="POST">
                    <div class="box-body">

                        {% for pack in packs%}
                            <div class="form-group">
                                <label for="taux" class="col-sm-2 control-label">Zone</label>
                                <div class="col-sm-10">
                                    <input name="zone" type="number" class="form-control" id="inputPassword3" placeholder="" value="{{pack.Zone}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="text" class="col-sm-2 control-label">Libelle </label>
                                <div class="col-sm-10">
                                    <input name="libelle" type="text" class="form-control" id="date1" value="{{pack.Libelle}}">
                                </div>
                            </div>     


                            <div class="form-group">
                                <label for="taux" class="col-sm-2 control-label">Prix</label>
                                <div class="col-sm-10">
                                    <input name="prix" type="number" step="0.1" class="form-control" id="inputPassword3" value="{{pack.Prix}}" placeholder="">
                                </div>
                            </div>



                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea rows="5" cols="50" class="form-control" id="text1" name="description" placeholder="Description">{{pack.Description}}</textarea>
                                </div>
                            </div>  
                                
                            <div class="form-group"> 
                                <label for="etat" class="col-sm-2 control-label">Etat</label>
                                <div class="col-sm-10">
                                    <select name="etat" onChange="">
                                        
                                        <option>Non_active</option>
                                        <option>Active</option>
                                    </select> 
                                </div>  
                            </div>
                        </div>

                        <div class="box-footer">
                            <button type="reset" class="btn btn-default" name ="submit">Annuler</button>
                            <button type="submit" class="btn btn-info pull-right">Ajouter</button>
                        </div><!-- /.box-footer -->
                    </form>
                </div><!-- /.box -->
            </div>
        </div>
    {% endfor %}
{% endblock %}