{# empty Twig template #}
{# empty Twig template #}
{% extends "AdminBundle::Layout.html.twig" %}
{% block contenu %}
   
           <div class="col-md-6">
              <!-- Horizontal Form -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Ajouter une produit</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" name="form" onsubmit="verif()">
                  <div class="box-body">
                      
                    <div class="form-group">
                      <label for="date1" class="col-sm-2 control-label">Référence</label>
                      <div class="col-sm-10">
                        <input name="date1" type="text" class="form-control" id="ref">
                      </div>
                    </div>
                      
                    <div class="form-group">
                      <label for="date2" class="col-sm-2 control-label">Libellé </label>
                      <div class="col-sm-10">
                        <input name="date2" type="text" class="form-control" id="libelle">
                      </div>
                    </div>
                      
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Descreptif</label>
                      <div class="col-sm-10">
                        <textarea rows="5" cols="50" class="form-control" id="text1"></textarea>
                      </div>
                    </div>
  
                    <div class="form-group">
                      <label for="date2" class="col-sm-2 control-label">Prix</label>
                      <div class="col-sm-10">
                        <input name="date2" type="text" class="form-control" id="libelle">
                      </div>
                    </div>
                      
                    <div class="form-group">
                      <label for="date2" class="col-sm-2 control-label">Catégorie</label>
                      <div class="col-sm-10">
                        <input name="date2" type="text" class="form-control" id="libelle">
                      </div>
                    </div>
                      
            
                      

                      
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-info pull-right">Sign in</button>
                  </div><!-- /.box-footer -->
                </form>
              </div><!-- /.box -->
           </div>
    
    {% endblock %}