{# empty Twig template #}
{% extends "ClientBundle::Layout.html.twig" %}

        
{% block contenu %}
                    <div class="moto-widget moto-widget-menu moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-preset="default" data-widget="menu" data-align="{&quot;desktop&quot;:&quot;center&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;mobile-h&quot;:&quot;&quot;,&quot;mobile-v&quot;:&quot;&quot;}" data-menu-id="1" data-menu-type="horizontal" data-spacing="mama">
        <a href="{{asset('#')}}" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
    <ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
        <li class="moto-widget-menu-item">
    <a href="acceuil"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Acceuil</a>
    </li><li class="moto-widget-menu-item">
    <a href="catalogue"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Catalogues<span class="fa moto-widget-menu-link-arrow"></span></a>
                <ul class="moto-widget-menu-sublist">
                    <li class="moto-widget-menu-item">
    <a href="{{asset('testimonials/index.html')}}"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link"></a>
    </li>
    
                    <li class="moto-widget-menu-item">
    <a href="#"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-submenu moto-link">Générale<!--<span class="fa moto-widget-menu-link-arrow"></span></a>
                <!--<ul class="moto-widget-menu-sublist">
                    <li class="moto-widget-menu-item">
    <a href="#"   data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">gallery1</a>
    </li>
                    <li class="moto-widget-menu-item">
    <a href="#}"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">About us</a>
    </li>
            </ul>-->

    </li>
                    <li class="moto-widget-menu-item">
    <a href="#"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">Par enseigne</a>
    </li>
            </ul>

    </li>
    <li class="moto-widget-menu-item">
    <a href="gallerie"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Galleries</a>
    </li>
     <li class="moto-widget-menu-item">
    <a href="fashion"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">Fashion</a>
    </li>
    <li class="moto-widget-menu-item">
    <a href="boutique"   data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Nos Boutiques</a>
    </li><li class="moto-widget-menu-item">

    <a href="contact"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Contacts</a>
    </li>    
    
    
                                                        {% if user %}
                                                            <li class="moto-widget-menu-item">
                                                                
                                                                <a href=""   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">{{user.username}}</a>
                                                                &nbsp &nbsp &nbsp 
                                                                <div class="icon">
                                                                    <a href="{{path('tunisia_mall_client_panier')}}"> <span class="fa fa-5x fa-shopping-cart" href="panier"></span></a>
                                                                </div>    
                                                            </li> 
                                                        {% else %}
                                                            <li class="moto-widget-menu-item">
                                                                <a href="{{path('fos_user_security_login')}}"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">connexion</a>
                                                               
                                                            </li> 
                                                        {% endif %}
    </ul>
    </div><div class="moto-widget moto-widget-spacer moto-preset-default                      moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="sasa">
    <div class="moto-widget-spacer-block" style="height: 2px;"></div>
</div></div></div></div></div></div></div>        </header>
  <section id="section_panier" style="min-height: 1200px;" >
      <center><h1 id="title">Recupltatif de commande </h1></center>
      
<script src="{{asset('js/Responsable/jQuery/jQuery-2.1.4.min.js')}}" type="text/javascript"></script>

                        <center>  <table  id="table_panier">
                            
                           
                            <tr id="tr_panier">
                               
                                <th id="th_panier"></th>
                                <th id="th_panier">Produit</th>
                                <th id="th_panier">prix</th>
                                <th id="th_panier">Quantite</th>
                                <th id="th_panier">Total</th>
                                <th id="th_panier">Acheter</th>
                                <th id="th_panier">Supprimer</th>
                            </tr>
                            {% set somme = 0 %}
                        {% for ligne in panier.achats %}
                            {% set somme = somme + ligne.prixtotal %}
                            <tr id="tr_panier">
                                <td id="td_panier"><img src="{{ asset(['images/panier/',ligne.produit.Image]|join )}}" height="30" width="50"  alt=''/></td>
                                <td id="td_panier">{{ ligne.produit.Libelle }}</td>
                                <td id="td_panier">
                                    <span class="prixunitaire{{ligne.id}}">{{ ligne.prix }}</span>
                                    
                                </td>
                            
                            
                                <td id="td_panier" style="text-align: center;" >
                                    
                                    <span class="quantiteligne" >
                                   <center><span class="quantiteligne" id="{{ligne.id}}">
                                   
                                    <span class="quantmoin"><a>
                                         <img src="{{asset('images/panier/left.png')}}">
                                     </a></span>
                                     <span class="quantactuel">{{ ligne.quantite }}</span>
                                        <span class="quantplus"><a>
                                         <img src="{{asset('images/panier/right.png')}}">
                                     </a></span>
                                    </span></center>
                                </td>
                                <td id="td_panier">
                                    <span class="prixtotal{{ligne.id}}">{{ ligne.prixtotal }}</span>
                                </td>
                                <td id="td_panier">
                                     <a href="#">
                                         <img src="{{asset('images/panier/acheter.png')}}">
                                     </a>
                                </td>
                                <td id="td_panier">
                                    <a href="{{path("tunisia_mall_panier_supp",{"id" :ligne.id})}}">
                                        <img src="{{asset('images/panier/delete2.png')}}">
                                    </a>
                                </td>
                            </tr>
                            {% else %}
                                Panier vide
                         {% endfor %}
                         
                         <tr id="tr_panier">
                             <td colspan="6" style="text-align: right"><h3>Total:&nbsp; </h3></td>
                             <td id="sommepanier" style="font-size: 30px"> {{somme}} </td>
                         </tr>
                        </table>
                        </center>
                    </section>

                
 
            <script type="text/javascript">
                $('document').ready(function(){
                    $(".quantmoin").click(function(){
                        id = $(this).parent('span.quantiteligne').attr('id');
                        quantite = $(this).parent('span.quantiteligne').children('.quantactuel').html();
                        if(quantite == 1)
                        {
                            alert('Quantite minimale est 1');
                        }
                        else
                        {
                            new_quantite = quantite - 1;
                            //alert("new_quantite: "+new_quantite);
                            $(this).parent('span.quantiteligne').children('.quantactuel').html(new_quantite);
                            prixunitaire = $(".prixunitaire"+id).html();
                            
                            //alert("prixunitaire: "+prixunitaire);
                            var somme = parseInt(new_quantite)*parseInt(prixunitaire);
                            //alert("somme: "+somme);
                            $(".prixtotal"+id).html(somme);
                            
                            $("#sommepanier").html(parseInt($("#sommepanier").html()) - parseInt(prixunitaire));
                            
                            $.ajax({
                                type: "POST",
                                url: "{{ path('tunisia_mall_panier_ajout_supp_ajax') }}",
                                data: {id:id,new_quantite:new_quantite,somme:somme},
                                success: function(reponse)
                                {
                                    //alert("reponse");
                                },

                                error: function(XMLHttpRequest, textStatus, errorThrown)
                                {
                                    alert('Error : ' + errorThrown);
                                }
                            });
                        }
                    });
                    
                    
                    
                    $(".quantplus").click(function(){
                        id = $(this).parent('span.quantiteligne').attr('id');
                        quantite = $(this).parent('span.quantiteligne').children('.quantactuel').html();
                        
                            new_quantite = parseInt(quantite) + 1;
                            $(this).parent('span.quantiteligne').children('.quantactuel').html(new_quantite);
                            prixunitaire = $(".prixunitaire"+id).html();
                            
                            var somme = parseInt(new_quantite)*parseInt(prixunitaire);
                            $(".prixtotal"+id).html(somme);
                            
                            sommepanier = parseInt($("#sommepanier").html()) + parseInt(prixunitaire);
                            $("#sommepanier").html(parseInt($("#sommepanier").html()) + parseInt(prixunitaire));
                            $.ajax({
                                type: "POST",
                                url: "{{ path('tunisia_mall_panier_ajout_supp_ajax') }}",
                                data: {id:id,new_quantite:new_quantite,somme:somme,sommepanier:sommepanier},
                                success: function(reponse)
                                {
                                    //alert("reponse");
                                },

                                error: function(XMLHttpRequest, textStatus, errorThrown)
                                {
                                    alert('Error : ' + errorThrown);
                                }
                            });
                    });
                })
            </script>
                
{% endblock %}{# empty Twig template #}

