{# empty Twig template #}
{% extends "ClientBundle::Layout.html.twig" %}
{% block contenu %}
    <div class="moto-widget moto-widget-menu moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-preset="default" data-widget="menu" data-align="{&quot;desktop&quot;:&quot;center&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;mobile-h&quot;:&quot;&quot;,&quot;mobile-v&quot;:&quot;&quot;}" data-menu-id="1" data-menu-type="horizontal" data-spacing="mama">
        <a href="{{asset('#')}}" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
    <ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
        <li class="moto-widget-menu-item">
    <a href="acceuil"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Acceuil</a>
    </li><li class="moto-widget-menu-item">
    <a href="catalogue"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Catalogues<span class="fa moto-widget-menu-link-arrow"></span></a>
                <ul class="moto-widget-menu-sublist">
                    <li class="moto-widget-menu-item">
    <a href="{{asset('testimonials/index.html')}}"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link"></a>
    </li>
    
                    <li class="moto-widget-menu-item">
    <a href="#"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-submenu moto-link">Générale<!--<span class="fa moto-widget-menu-link-arrow"></span></a>
                <!--<ul class="moto-widget-menu-sublist">
                    <li class="moto-widget-menu-item">
    <a href="#"   data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">gallery1</a>
    </li>
                    <li class="moto-widget-menu-item">
    <a href="#}"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">About us</a>
    </li>
            </ul>-->

    </li>
                    <li class="moto-widget-menu-item">
    <a href="#"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">Par enseigne</a>
    </li>
            </ul>

    </li>
    <li class="moto-widget-menu-item">
    <a href="gallerie"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">Galleries</a>
    </li>
     <li class="moto-widget-menu-item">
    <a href="fashion"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Actualité</a>
    </li>
    <li class="moto-widget-menu-item">
    <a href="boutique"   data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Nos Boutiques</a>
    </li><li class="moto-widget-menu-item">

    <a href="contact"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Contacts</a>
    </li>  
    {% if user.getFlagRole()==3 %}
                                                        <li class="moto-widget-menu-item">
                                                            <a href=""   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">{{user.username}}</a>
                                                            &nbsp &nbsp &nbsp <a href="panier"><img src="{{asset('images/client/shopping-cart-of-checkered-design.png')}}"></a>
                                                        </li> 
                                                        {% else %}
                                                         <li class="moto-widget-menu-item">
                                                            <a href="{{path('fos_user_security_login')}}"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">connexion</a>
                                                            &nbsp &nbsp &nbsp <a href="panier"><img src="{{asset('images/client/shopping-cart-of-checkered-design.png')}}"></a>
                                                        </li> 
                                                        {% endif %}</ul>
    </div><div class="moto-widget moto-widget-spacer moto-preset-default                      moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="sasa">
    <div class="moto-widget-spacer-block" style="height: 2px;"></div>
</div></div></div></div></div></div></div>        </header>
  <section id="section-content" class="content page-1 moto-section" data-widget="section" data-container="section">
                   
                                    <div class="row">
                                        <div class="col-md-4">
                                        </div>  
                                        <div class="col-md-4">
                                            <table class="table table-bordered">
                                        
                                        <tr>
                                      
                                        </tr>    
                                        {{message}}
                                            </table>
                                        </div>
                                            <a href="{{path('payement_carte_fidelite_confirm',{'id':panier.id})}}">confirmer</a>
                                    </div>
                          
    </section>
    {% endblock %}     