
{% extends "ResponsableBundle::Layout.html.twig" %}

 {% block HeaderTitle %}
               
            <h1>
            Gestion Des Produits
            <small>Liste Des Produits</small>
          </h1>
            {%endblock %}



{% block TableView %}
   
<div class="TableView" >
    <table >
                    <tr>
                      
                        <td>
                            Id Produit
                        </td>
                        <td >
                            Référence
                        </td>
                        <td>
                            Libelle
                        </td>
                        <td>
                            Descriptif
                        </td>
                        <td>
                            Prix
                        </td>
                        <td>
                            Categorie
                        </td>
                        <td>
                            Image
                        </td>
                        <td>
                            Note
                        </td>
                        <td>
                            NbPoint
                        </td>
                        <td>
                            Enseigne
                        </td>
                        <td>
                            Promotion
                        </td>
                        <td>
                            Catalogue
                        </td>
                        <td>
                            Panier
                        </td>
                        <td>
                            Modification
                        </td>
                        <td>
                            Suppression
                        </td>
                       
                    </tr>
                    <tr>
                        {% for Produit in Produit %}
                              
                                
                        <td >
                           {{Produit.id}}
                        </td>
                        <td>
                            {{Produit.Reference}}
                        </td>
                        <td>
                            {{Produit.Libelle}}
                        </td>
                         <td>
                            {{Produit.Descriptif}}
                        </td>
                         <td >
                           {{Produit.Prix}}
                        </td>
                         <td >
                           {{Produit.Categorie}}
                        </td>
                         <td >
                           {{Produit.Image}}
                        </td>
                         <td >
                           {{Produit.Note}}
                        </td>
                         <td >
                           {{Produit.NbPoint}}
                        </td>
                         <td >
                           {{Produit.Enseigne.getId()}}
                        </td>
                         <td >
                           {{Produit.Promotion.getId()}}
                        </td>
                         <td >
                           {{Produit.Catalogue.getId()}}
                        </td>
                         <td >
                           {{Produit.Panier.getId()}}
                        </td>
                         <td >
                          <center><a href="{{path('tunisia_mall_produit_Modif',{'id':Produit.id})}}"><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                         
                        </td>
                         <td >
                         <center><a href="{{path('tunisia_mall_produit_Supp',{'id':Produit.id})}}"><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    
                    {% endfor %}
                </table>
            </div>
    {% endblock TableView %}    
{% block btn %}
     <br>
                <div>
                    <form align="left" action="{{('AjouterProduit')}}">
                    <input type="submit" class="btn" value="Ajouter Produit"/>
                    </form>
                    <form align="right" action="{{('rechercher')}}">
                    <input type="submit" class="btn" value="Chercher Produit"/>
                    </form>
                    
                    
    {% endblock %}
    
        