{% extends "AdminBundle::Layout.html.twig" %}
{% block HeaderTitle %}

    <h1>
        Ajouter
        <small>Des Produits</small>
    </h1>
{%endblock %}
 {% block TableView %}
    <div class="col-md-6">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Ajouter une produit</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- form start -->
                <form  method="POST" class="form-horizontal" name="form" onsubmit="verif()">
                    <div> {{ form_start(form) }}
                        {{form_errors(form) }}
                        <div class="form-group">
                            <label for="Reference" class="col-sm-2 control-label">Reference</label>
                            {{ form_errors(form.Reference) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.Reference)  }}
                            </div> 
                        </div>
                        <div class="form-group">
                            <label for="Libelle" class="col-sm-2 control-label">Libelle</label>
                            {{ form_errors(form.Libelle) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.Libelle)  }}
                            </div> 
                        </div>
                        <div class="form-group">
                            <label for="Descriptif" class="col-sm-2 control-label">Descriptif</label>
                            {{ form_errors(form.Descriptif) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.Descriptif)  }}
                            </div> 
                        </div>
                        <div class="form-group">
                            <label for="Prix" class="col-sm-2 control-label">Prix</label>
                            {{ form_errors(form.Prix) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.Prix)  }}
                            </div> 
                        </div>
                        <div class="form-group">
                            <label for="Categorie" class="col-sm-2 control-label">Categorie</label>
                            {{ form_errors(form.Categorie) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.Categorie)  }}
                            </div> 
                        </div>
                        <div class="form-group">
                            <label for="Image" class="col-sm-2 control-label">Image</label>
                            {{ form_errors(form.Image) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.Image)  }}
                            </div> 
                        </div>

                        <div class="form-group">
                            <label for="NbPoint" class="col-sm-2 control-label">NbPoint</label>
                            {{ form_errors(form.NbPoint) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.NbPoint)  }}
                            </div></div> 

                        <div class="form-group">
                            <label for="Panier" class="col-sm-2 control-label">Panier</label>
                            {{ form_errors(form.Panier) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.Panier)  }}
                            </div> </div>




                        <div class="box-footer">
                            {{form_widget(form.AjouterProduit) }}
                        </div>
                        {{ form_end(form)}}


                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.box -->


{% endblock %}