{% extends "AdminBundle::Layout.html.twig" %}

 {% block HeaderTitle %}
               
            <h1>
            Gestion Des Produits
            <small>Liste Des Produits</small>
          </h1>
            {%endblock %}



{% block TableView %}
 <div style="padding: 10px">
        <div class="TableView" >
       <div class="box box-success ">    
    <div class="box-body no-padding">
              <table class="table table-bordered table-hover" id="nosprom" >
        <thead>
                    <tr>
                       
                        <th>
                            Référence
                        </th>
                        <th>
                            Libelle
                        </th>
                      
                        <th>
                            Prix
                        </th>
                        <th>
                            Categorie
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            NbPoint
                        </th>
                        <th>
                            Modification
                        </th>
                        <th>
                            Suppression
                        </th>
                       
                    </tr>
                   
        </thead>
        
        <tbody>            
                        {% for x,Produit in Produit %}
        <tr>                      
                                
                       
                        <td>
                            {{Produit.Reference}}
                        </td>
                        <td>
                            {{Produit.Libelle}}
                        </td>
                       
                         <td >
                           {{Produit.Prix}}
                        </td>
                         <td >
                           {{Produit.Categorie}}
                        </td>
                         <td >
                        <center> <img style=" margin-left: -50px ; margin-right: -50px ; width: 150px ;height: 80px;" src="data:image/png;base64,{{image[x]}}" /> </center>
                        </td>
                         <td >
                           {{Produit.NbPoint}}
                        </td>
                         
                         <td >
                          <center><a href="{{path('tunisia_mall_produit_Modif',{'id':Produit.id})}}"><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                         
                        </td>
                         <td >
                         <center><a href="{{path('tunisia_mall_produit_Supp',{'id':Produit.id})}}"><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    
                    {% endfor %}
                    </tbody>
                    
                </table>
    </div></div></div></div>
                
    {% endblock TableView %}    
{% block btn %}
   
                <div>
                    <form align="left" action="{{('AjouterProduit')}}">
                        <center><input type="submit" class="btn" value="Ajouter Produit"/></center>
                    </form>
                   
                    
                </div>
    {% endblock %}
    
     {% block script %}
           <script src="{{asset('js/Responsable/tabledata.js')}}"></script>
           <script src="{{asset('js/Responsable/appli.js')}}"></script>
        {% endblock %}
            