    {# empty Twig template #}
{% extends "AdminBundle::Layout.html.twig" %}
{% block TableView %}

    <div class="col-md-6">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Ajouter Carte</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" name="form" method="POST">
                <div class="box-body">

                <div class="form-group">
                        <label for="Titre" class="col-sm-2 control-label" > Numero </label>
                        <div class="col-sm-10">
                            <input name="numero" id="exampleInputfile" type="text"class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Image" class="col-sm-2 control-label" > Nbre point </label>
                        <div class="col-sm-10">
                            <input name="nbrepoint" id="exampleInputfile" type="text"class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="user" class="col-sm-2 control-label">User</label>
                        <div class="col-sm-10">
                             <select name="user">
                                 {% for u in users%}
                                    <option value="{{u.id}}">{{u.username}}</option>
                                    {%endfor%}
                                </select> 
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-default">Annuler</button>
                    <input type="submit" value="Ajouter" class="btn btn-info pull-right"/>
                </div><!-- /.box-footer -->
            </form>
        </div><!-- /.box -->
    </div>

{% endblock %}