
{% extends "AdminBundle::Layout.html.twig" %}

 {% block HeaderTitle %}
               
            <h1>
            Cartes fidélité
            <small>Liste Des Cartes</small>
          </h1>
            {%endblock %}



{% block TableView %}

        <div class="row">
    </div>
                <div class="row">
                    
                    {%for carte in cartes %}
                    <div class="col-md-4">
                        <div class="small-box bg-aqua-active">
                            <div class="inner">
                                <h4>{{ carte.numero }}</h4>
                                    <p>{{ carte.user.email}}</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-credit-card"></i>
                            </div>
                            <a href="{{path('tunisia_mall_responsable_Carte_afficher',{'id': carte.id})}}" class="small-box-footer">
                                Choose <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                        {% endfor %}
                </div>    
                
    {% endblock TableView %}    

{% block btn %}
     <br>
                <div>
                    
                    <a href="{{path('tunisia_mall_responsable_Carte_ajout')}}"><input type="button" class="btn btn-success" value="Ajouter Carte"></a>
                
                
                </div>
    {% endblock %}