{# empty Twig template #}
{% extends "AdminBundle::Layout.html.twig" %}
{% block HeaderTitle %}
    <div class ="container">
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Paiement du reservation</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" name="form" onsubmit=" return verif()" method ="POST">
                    <div class="box-body">
                    
                            <script language="javascript">
                                function verif()
                                {
                                    if ((window.document.form.password.value == "") || (window.document.form.num.value == ""))
                                    {
                                    alert("saisir votre mot de passe et votre numéro de carte bancaire");
                                            return false;
                                    }
                                   
                                    
                                }</script> 
{% for flashMessage in app.session.flashbag.get('error') %}

<div class="alert alert-danger">
    {{ flashMessage }}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('notice') %}

<div class="alert alert-success">
    {{ flashMessage }}
</div>

{% endfor %}
                        <div class="form-group">
                            <label for="date1" class="col-sm-2 control-label">Numéro de carte bancaire</label>
                            <div class="col-sm-10">
                                <input name="num" type="text" class="form-control" id="date1">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="date2" class="col-sm-2 control-label">mot de passe </label>
                            <div class="col-sm-10">
                                <input name="password" type="password" class="form-control" id="date2">
                            </div>
                        </div>

                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="reset" class="btn btn-default" name ="submit">Annuler</button>
                        <button type="submit" class="btn btn-info pull-right">Payer</button>
                    </div><!-- /.box-footer -->
                </form>
            </div><!-- /.box -->
        </div>

    </div>
{% endblock %}