{% extends "AdminBundle::Layout.html.twig" %}

{% block HeaderTitle %}
    <style>
        img {
            width: 50px;
            height: 50px;
        }
    </style>

    <h1>
       Gestion Des Packs pulicitaire
        <small>Vos réservations</small>
    </h1>
    <center>
        <form  method="POST">
            <input type="text" name="search">
            <input type="submit" value="rechercher">
        </form>
    </center>
{%endblock %}

{% block TableView %}
    <div style="padding: 10px">
        <div class="TableView" >
            <div class="box box-success ">    
                <div  class="box-body no-padding">
                    <table class="table table-bordered table-hover" >

                <tr>
                <td>Zone</td>
                <td> Libellé</td>
                <td>Prix</td>
                <td>Description</td>

            </tr>
            <tr> {% for pack in packs %}
                
                <td>{{pack.PackPublicitaire.Zone}}</td>
                <td>{{pack.PackPublicitaire.libelle}}</td>
                <td>{{pack.PackPublicitaire.prix}}</td>
                <td>{{pack.PackPublicitaire.description}}</td>
                
                    
            </tr>
        {%endfor%}
            </table>
        </div> </div></div></div>     
        {% endblock %} 
            {%block btn %}  


            {% endblock %}
             
             
             
             