{# empty Twig template #}
{% extends "AdminBundle::Layout.html.twig" %}

{% block HeaderTitle %}
    <style>
        img {
            width: 50px;
            height: 50px;
        }
    </style>

    <h1>
         Gestion Des packs publicitairess
        <small>Liste des demandes de réservation</small>
    </h1>
    <center>
        <form  method="POST">
            <input type="text" name="search">
            <input type="submit" value="rechercher">
        </form>
    </center>
{%endblock %}

{% block TableView %}
    <div style="padding: 10px">
        <div class="TableView" >
            <div class="box box-success ">    
                <div  class="box-body no-padding">
                    <table class="table table-bordered table-hover" >
<tr>
                <th>Zone</th>
                <th> Libellé</th>
                <th>Prix</th>
                <th>Date de début </th>
                <th>Date de fin</th>
                <th>Description</th>
                <th>Nom du responsable</th>
                <th>Accepter</th>
                <th>Refuser</th>

            </tr>
            <tr> {%for re in res%}
                <td>{{re.PackPublicitaire.Zone}}</td>
                <td>{{re.PackPublicitaire.Libelle}}</td>
                <td>{{re.PackPublicitaire.Prix}}</td>
                <td>{{re.Datedebut.format('j/m/Y')}}</td>
                <td>{{re.DateFin.format('j/m/Y')}}</td>
                <td>{{re.Description}}</td>
                <td>{{re.User.username}}</td>
                <td>
            <center><a href="{{path('Accepter_Demande',{'id':re.id})}}"><span class="fa fa-check"></span></a></center>
                </td>
                <td >
            <center><a href="{{path('Refuser_Demande',{'id':re.id})}}"><span class="fa fa-close"></span></a></center>
                </td>
                </tr>

                    {%endfor%}
                        </table>
                                    </div>  </div>         
                                    {% endblock %} 
                                        {%block btn %}  
                                   
                                            </div></div></div>
                                        {% endblock %}
