
{% extends "AdminBundle::Layout.html.twig" %}

{% block HeaderTitle %}
    <style>
        img {
            width: 50px;
            height: 50px;
        }
    </style>

    <h1>
        Gestion des packs publicitaires
        <small>Liste des packs</small>
    </h1>
    <center>
        <form  method="POST">
            <input type="text" name="search">
            <input type="submit" value="rechercher">
        </form>
    </center>
{%endblock %}

{% block TableView %}
    <div style="padding: 10px">
        <div class="TableView" >
            <div class="box box-success ">    
                <div  class="box-body no-padding">
                    <table class="table table-bordered table-hover" >

                       <tr>
                <th>Zone</th>
                <th> Libellé</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Réserver</th>
            </tr>
            <tr> {% for pack in packs %}
                <td>{{pack.Zone}}</td>
                <td>{{pack.libelle}}</td>
                <td>{{pack.prix}}</td>
                <td>{{pack.description}}</td>
                <td><center><a href="{{path('Reserver_pack',{'id':pack.id})}}"><span class="fa fa-2x fa-check"></span></center></td>
                    </tr>
                    {%endfor%}
                        </table>
                                    </div>  </div>         
                                    {% endblock %} 
                                        {%block btn %}  
                                            <br>   
                                            <div>

                                                  <br>   
             <center><div><a href="{{path('ReservationAPayer')}}"><input type="submit" class="btn" value="Vos réservation a payer"/></div>
        
                                            </div></div></div>
                                        {% endblock %}

             
             
             
             