

{% extends "AdminBundle::Layout.html.twig" %}
{% block HeaderTitle %}

    <div class ="container">
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Paiement du reservation</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" name="form" onsubmit=" return verif()" method ="POST">
                    <div class="box-body">
              
                        {% for re in res %}
                            <label>Zone : </label>{{re.PackPublicitaire.Zone}}<br><br>

                            <label>Libelle : </label>{{re.PackPublicitaire.Libelle}}<br><br>

                            <label >Prix : </label>{{re.PackPublicitaire.Prix}}<br><br>

                            <label>Date de début de réservation : </label>{{re.Datedebut.format('j/m/Y')}}<br><br>

                            <label>Date de fin de réservation : </label>{{re.DateFin.format('j/m/Y')}}<br><br>
                       



                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default" name ="submit">Cancel</button>
                    <a href="{{path('Confirm_carte',{'id':re.id})}}" class="btn btn-info pull-right">Payer</a>
                    </div><!-- /.box-footer -->
                </form>
            </div><!-- /.box -->
        </div>

    </div> {%endfor%}
{% endblock %}
{# empty Twig template #}
