{% extends "AdminBundle::Layout.html.twig" %}
{% block HeaderTitle %}
    <div class ="container">
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Reserver le pack publicitaire</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" name="form" onsubmit="verif()" method ="POST">
                    <div class="box-body">

                        {% for pack in Packs %}
                            <label>Zone : </label>{{pack.Zone}}<br>

                            <label>Libelle : </label>{{pack.Libelle}}<br>

                            <label >Prix : </label>{{pack.Prix}}<br>

                            <label>Description : </label>{{pack.Description}}<br>

                        {%endfor%}

                        <div class="form-group">
                            <label for="date1" class="col-sm-2 control-label">Date début</label>
                            <div class="col-sm-10">
                                <input name="date1" type="date" class="form-control" id="date1">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="date2" class="col-sm-2 control-label">Date fin </label>
                            <div class="col-sm-10">
                                <input name="date2" type="date" class="form-control" id="date2">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="image" class="col-sm-2 control-label">Image</label>
                            <div class="col-sm-10">
                                <input name ="img" type="file" class="form-control" id="image" >
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea rows="5" cols="50" class="form-control" id="text1" name="des"></textarea>
                            </div>
                        </div>  



                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="reset" class="btn btn-default" name ="submit">Annuler</button>
                        <button type="submit" class="btn btn-info pull-right">Réserver</button>
                    </div><!-- /.box-footer -->
                </form>
            </div><!-- /.box -->
        </div>

    </div>
{% endblock %}
{# empty Twig template #}
