{# empty Twig template #}
{% extends "AdminBundle::Layout.html.twig" %}

{% block HeaderTitle %}
    <style>
        img {
            width: 50px;
            height: 50px;
        }
    </style>

    <h1>
         Gestion Des packs publicitairess
        <small>Liste des réservation à payer</small>
    </h1>
    <center>
        <form  method="POST">
            <input type="text" name="search">
            <input type="submit" value="rechercher">
        </form>
    </center>
{%endblock %}

{% block TableView %}
    <div style="padding: 10px">
        <div class="TableView" >
            <div class="box box-success ">    
                <div  class="box-body no-padding">
                    <table class="table table-bordered table-hover" >
<tr>
                <th>Réservation</th>
                <th>Payer</th>
                
            </tr>
            <tr> {%for re in res%}
                <td>Votre réservation pour la zone {{re.PackPublicitaire.Zone}} du {{re.Datedebut.format('j/m/Y')}} au {{re.DateFin.format('j/m/Y')}} est accepté vous devez payez </td>
               
                <td>
            <center><a href="{{path('Payer',{'id':re.id})}}"><span class="fa fa-2x fa-credit-card"></span></center>
                </td>
               
                </tr>

                    {%endfor%}
                        </table>
                                    </div>  </div>         
                                    {% endblock %} 
                                        {%block btn %}  
                                   
                                            </div></div></div>
                                        {% endblock %}
