{# empty Twig template #}
{# empty Twig template #}
{% extends "AdminBundle::Layout.html.twig" %}
{% block HeaderTitle %}

    <h1>
        Ajouter
        <small>Stock</small>
    </h1>
{%endblock %}

{% block TableView %}

    <div class="col-md-6">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Ajouter une produit</h3>

                <form  method="POST" class="form-horizontal" name="form" onsubmit="verif()">
                    <div> {{ form_start(form) }}
                        {{form_errors(form) }}
                       
                        <div class="form-group">
                            <label for="Quantiteproduit" class="col-sm-2 control-label">Quantite produit</label>
                            {{ form_errors(form.Quantiteproduit) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.Quantiteproduit)  }}
                            </div> 
                        </div>
                        <div class="form-group">
                            <label for="DateAjout" class="col-sm-2 control-label">Date Ajout</label>
                            {{ form_errors(form.DateAjout) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.DateAjout)  }}
                            </div> 
                        </div>
                        <div class="form-group">
                            <label for="Enseigne" class="col-sm-2 control-label">Enseigne</label>
                            {{ form_errors(form.Enseigne) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.Enseigne)  }}
                            </div></div> 
                        <div class="form-group">
                            <label for="Produit" class="col-sm-2 control-label">Produit</label>
                            {{ form_errors(form.Produit) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.Produit)  }}
                            </div></div> 




                        <div class="box-footer">
                            {{form_widget(form.AjouterStock) }}
                        </div>
                        {{ form_end(form)}}


                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.box -->


{% endblock %}