
{% extends "AdminBundle::Layout.html.twig" %}

 {% block HeaderTitle %}
               
            <h1>
            Gestion Des Stock
            <small>Liste Des Stock</small>
          </h1>
            {%endblock %}



{% block TableView %}
   <div style="padding: 10px">
        <div class="TableView" >
       <div class="box box-success ">    
    <div class="box-body no-padding">  
<div class="TableView" >
    <table class="table table-bordered table-hover" id="nosprom">
        <thead>
                    <tr>
                      
                      
                        <th>
                            Quantité Produit
                        </th>
                        <th>
                            Date Ajout
                        </th>
                        <th>
                            Enseigne
                        </th>
                        <th>
                            Produit
                        </th>
                        <th>
                            Modification
                        </th>
                        <th>
                            Suppression
                        </th>
                       
                    </tr>
        </thead>
        <tbody>
                    
                        {% for Stock in Stock %}
                        <tr>      
                                
                       
                        <td>
                            {{Stock.Quantiteproduit}}
                        </td>
                         <td>
                             {{Stock.DateAjout.format('Y/m/d')}}
                        </td>
                         <td >
                           {{Stock.Enseigne.getLibelle()}}
                        </td>
                         <td>
                             {{Stock.Produit.getLibelle()}}
                        </td>
                         <td >
                          <center><a href="{{path('tunisia_mall_stock_Modif',{'id':Stock.id})}}"><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                         
                        </td>
                         <td >
                         <center><a href="{{path('tunisia_mall_stock_Supp',{'id':Stock.id})}}"><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    
                    {% endfor %}
                    </tbody>
                </table>
            </div>
                    </div>
                    </div>
                    </div>
                    </div>
    {% endblock TableView %}    
{% block btn %}
     <br>
                <div>
                    <form align="left" action="{{('AjouterStock')}}">
                        <center><input type="submit" class="btn" value="Ajouter"/></center>
                    </form>
                    
                </div>   
                    
    {% endblock %}
    
     {% block script %}
           <script src="{{asset('js/Responsable/tabledata.js')}}"></script>
           <script src="{{asset('js/Responsable/appli.js')}}"></script>
        {% endblock %}
        
    
        