
{% extends "AdminBundle::Layout.html.twig" %}

 {% block HeaderTitle %}
               
            <h1>
            Gestion Des Stocks
            <small>Liste Des Stocks</small>
          </h1>
            {%endblock %}



{% block TableView %}
   
<div class="TableView" >
    <table border="0">
    <form method="POST">
  <tr>
    <td>Référence:</td>
      <td><input type="text" name="Reference"></td><td><input class="btn" type="submit" value="Rechercher"></td> 
  </tr>
   <tr>
       
	 </tr>
    </form>
</table>
</div>
    <br>
    <br>
       
<div class="TableView" >
    <table >
                    <tr>
                      
                        <td>
                            Id Stock
                        </td>
                        <td >
                            Référence
                        </td>
                        <td>
                            Quantité Produit
                        </td>
                        <td>
                            Date Ajout
                        </td>
                        <td>
                            Enseigne
                        </td>
                        <td>
                            Produit
                        </td>
                        <td>
                            Modification
                        </td>
                        <td>
                            Suppression
                        </td>
                       
                    </tr>
                    <tr>
                        {% for Stock in Stock %}
                              
                                
                        <td >
                           {{Stock.id}}
                        </td>
                        <td>
                            {{Stock.Ref}}
                        </td>
                        <td>
                            {{Stock.Quantiteproduit}}
                        </td>
                         <td>
                            {{Stock.DateAjout.format('Y/m/d')}}
                        </td>
                         <td >
                           {{Stock.Enseigne.getId()}}
                        </td>
                         <td >
                           {{Stock.Produit.getId()}}
                        </td>
                         <td >
                          <center><a href="{{path('tunisia_mall_stock_Modif',{'id':Stock.id})}}"><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                         
                        </td>
                         <td >
                         <center><a href="{{path('tunisia_mall_stock_Supp',{'id':Stock.id})}}"><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    
                    {% endfor %}
                </table>
            </div>
    {% endblock TableView %}    
{% block btn %}
     <br>
                <div>
                    <form align="left" action="{{('Ajouter')}}">
                    <input type="submit" class="btn" value="Ajouter Stock"/>
                    </form>
                    <form align="right" action="{{('rechercherStock')}}">
                    <input type="submit" class="btn" value="Chercher Stock"/>
                    </form>
                </div>  
                    
    {% endblock %}