
{% extends "AdminBundle::Layout.html.twig" %}

 {% block HeaderTitle %}
               
            <h1>
            Gestion Du Stock
            <small>Liste Des Stocks</small>
          </h1>
            {%endblock %}
           



{% block TableView %}
<div class="TableView" >
                <table >
                    <tr>
                        <td>
                            Id Stock
                        </td>
                        <td >
                            Référence
                        </td>
                        <td >
                            Nom Enseigne
                        </td>
                        <td>
                            Nom Fournisseur
                        </td>  
                        <td>
                            Quantite
                        </td>
                        <td>
                            Date d'entrée
                        </td> 
                        <td>
                            Modification
                        </td>
                        <td>
                            Suppression
                        </td>
                    </tr>
                    <tr>
                        <td >
                           
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                         <td>
                            <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                       <td>
                            <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td>
                            <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                   </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                       <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td>
                            <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td>
                             <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                     <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td>
                            <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                </table>
            </div>
    {% endblock TableView %}    
 {% block btn %}
     <br>
                <div>
                    
                    <input type="submit" class="btn" value="Ajouter Stock"/> 
                   
                
                
                </div>
    {% endblock %}