
{% extends "AdminBundle::Layout.html.twig" %}

 {% block HeaderTitle %}
               
            <h1>
            Gestion Des Produits
            <small>Liste Des Produits</small>
          </h1>
            {%endblock %}



{% block TableView %}
<div class="TableView" >
                <table >
                    <tr>
                        <td>
                            Id Produit
                        </td>
                        <td >
                            Référence
                        </td>
                        <td>
                            Libelle
                        </td>
                        <td>
                            Descriptif
                        </td>
                        <td>
                            Prix
                        </td>
                        <td>
                            Categorie
                        </td>
                        <td>
                            Image
                        </td>
                        <td>
                            Note
                        </td>
                        <td>
                            NbPoint
                        </td>
                        <td>
                            Modification
                        </td>
                        <td>
                            Suppression
                        </td>
                    </tr>
                    <tr>
                        <td >
                           
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                         <td >
                           
                        </td>
                         <td >
                           
                        </td>
                         <td >
                           
                        </td>
                         <td >
                           
                        </td>
                         <td >
                           
                        </td>
                         <td >
                          <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                         <td >
                           <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                         <td >
                          <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                         <td >
                          <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                         <td >
                          <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                         <td >
                           <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                         <td >
                           <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                         <td >
                           <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                     <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                        <td >
                            
                        </td>
                         <td >
                           <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                         <td >
                           <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                </table>
            </div>
    {% endblock TableView %}    
{% block btn %}
     <br>
                <div>
                    
                    <input type="submit" class="btn" value="Ajouter Produit"/> 
                   
                
                
                </div>
    {% endblock %}
