
{% extends "AdminBundle::Layout.html.twig" %}

 {% block HeaderTitle %}
               
            <h1>
            Gestion Des Enseignes
            <small>Liste Des Enseignes</small>
          </h1>
            {%endblock %}



{% block TableView %}
<div class="TableView" >
                <table >
                    <tr>
                        <td>
                            Id Utilisateur
                        </td>
                        <td >
                            Login
                        </td>
                        <td>
                            Mot De Passe
                        </td>
                        <td>
                            Role
                        </td>
                        <td>
                            CIN
                        </td>
                        <td>
                            Prénom
                        </td>
                        <td>
                            Nom
                        </td>
                        <td>
                            Email
                        </td>
                        <td>
                            Numéro téléphonique
                        </td>
                        <td>
                            Image
                        </td>
                        <td>
                            Etat
                        </td>
                        <td>
                            Modification
                        </td>
                        <td>
                            Suppression
                        </td>
                    </tr>
                    <tr>
                        <td >
                           
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                    <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td >
                         <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                          <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td >
                          <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                          <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td >
                          <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                          <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td >
                          <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                     <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           
                        </td>
                        <td >
                           <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td >
                           <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                </table>
            </div>
    {% endblock TableView %}    
{% block btn %}
     <br>
                <div>
                    
                    <input type="submit" class="btn" value="Ajouter Enseignes"/> 
                   
                
                
                </div>
    {% endblock %}
