
{% extends "AdminBundle::Layout.html.twig" %}

 {% block HeaderTitle %}
               
            <h2>
            Gestion Des Comptes
          </h2>
            {%endblock %}



{% block TableView %}
    
 <div class="box box-success ">    
    <div class="box-body no-padding">
                <table class="table table-bordered table-hover" >
                    <tr>
                        
                        <th>
                            Login
                        </th>
                        <th>
                            email
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                            Accepter
                        </th> 
                        <th>
                            Refuser
                        </th>
                    </tr>
                    {% for u in users %}
                    <tr>
                        <td >
                          {{ u.username}} 
                        </td>
                        <td>
                           {{u.email}}
                        </td>
                        <td>
                            {{u.flagRole}}
                        </td>
                        
                         <td>
                    <center><a href="{{path('tunisia_mall_Admin_accept_compte',{'id':u.id})}}" class="fa fa-check"></a></center>
                        </td>
                         <td>
                          <center><a href="#" class="fa fa-close"></a></center>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </table>
                    
            </div>
                    </div>
                   
               
 
    {% endblock TableView %}  
    {% block btn %}
    
    {% endblock %}
