
{% extends "AdminBundle::Layout.html.twig" %}

 {% block HeaderTitle %}
               
            <h1>
            Gestion Des Catalogues
            <small>Liste Des Catalogues</small>
          </h1>
            {%endblock %}



{% block TableView %}
<div class="TableView" >
                <table >
                    <tr>
                        <td>
                            Id Catalogue
                        </td>
                        <td >
                            Date
                        </td>
                        <td>
                            Type
                        </td>
                        <td>
                            Modification
                        </td>
                        <td>
                            Suppression
                        </td>
                    </tr>
                    <tr>
                        <td >
                           
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td>
                            <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td>
                            <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td>
                            <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td>
                            <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                     
                </table>
            </div>
    {% endblock TableView %}    

{% block btn %}
     <br>
                <div>
                    
                    <input type="submit" class="btn" value="Ajouter Catalogues"/> 
                   
                
                
                </div>
    {% endblock %}