
{% extends "AdminBundle::Layout.html.twig" %}

 {% block HeaderTitle %}
               
            <h1>
            Gestion Des Pack Publicitaire
            <small>Liste Des Packs Publicitaire</small>
          </h1>
            {%endblock %}



{% block TableView %}
<div class="TableView" >
                <table >
                    <tr>
                        <td>
                           Id Pack Publicitaire
                        </td>
                        <td >
                            Libelle
                        </td>
                        <td>
                            Date début
                        </td>
                        <td>
                            Date fin
                        </td>
                        <td>
                            Prix
                        </td>
                        <td>
                            Zone
                        </td>
                        <td>
                            Modification
                        </td>
                        <td>
                            Suppression
                        </td>
                    </tr>
                    <tr>
                        <td >
                           
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td>
                            <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td>
                            <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td>
                            <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                        
                    </tr>
                    <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td>
                            <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                     <tr>
                        <td >
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                         <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <center><input class="modifIcon" type="image"  src="{{asset('images/Responsable/Modifier.png')}} " value="" href="#" ></center>
                        </td>
                        <td>
                            <center><input class="suppIcon" type="image"  src="{{asset('images/Responsable/Supprimer.png')}} " value="" href="#" ></center>
                        </td>
                    </tr>
                </table>
            </div>
    {% endblock TableView %}    

{% block btn %}
     <br>
                <div>
                    
                    <input type="submit" class="btn" value="Ajouter Pack Publicitaire"/> 
                   
                
                
                </div>
    {% endblock %}