{% extends "AdminBundle::Layout.html.twig" %}
{% block TableView %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"

    type="text/javascript"></script>

    <script src="//code.highcharts.com/4.0.1/highcharts.js"></script>

    <script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>

    <script type="text/javascript">

        {{ chart(chart) }}

    </script>

    <div id="linechart" style=" width: 400px; height: 400px; margin: 0 auto"></div>

{% endblock TableView %}